#pane{
    -fx-background-image: url("taust.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1200 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}